<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="description" content="Introduction to this guy's website">
    <title>Out awesome report</title>
    <link rel="css/style.css" type="text/css"/>
    <script type="text/javascript" src="js/main.js"></script>
  </head>
  <body>
    <img src="map.svg"/>
    <h1>Top bandwidth hoggers</h1>
    <ul>
       {% for user, bytes in user_bytes[:10] %}
          <li>{{ user }}: {{ humanize(bytes) }}</li>
       {% endfor %}
    </ul>
    <h1>Top visited URL-s</h1>
    <ul>
       {% for url, hits in user_bytes[:10] %}
          <li>
            <a href="http://enos.itcollege.ee{{ url }}">
              enos.itcollege.ee{{ url }}
            </a>
          </li>
       {% endfor %}
    </ul>
  </body>
</html>